{
  "extends" : [
    "standard",
  ],
  "globals" : {
    "__DEV__"    : false,
    "__INT__"    : false,
    "__STG__"    : false,
    "__PROD__"   : false,
    "API_VERSION": false,
    "UI_VERSION" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2]
  }
}
